<!-- Dataset Berlin Gendarmenmarkt from TU Chemnitz smartLoc project. -->
<launch>
    <!-- load dataset-specific params -->
    <rosparam command="load" file="$(find gnss_preprocessor)/config/berlin.yaml" />

    <!-- path of dataset -->
    <param name="roverMeasureFile" type="string" value="$(find gnss_preprocessor)/dataset/smartLoc/Berlin_Gendarmenmarkt/Berlin_Gendarmenmarkt.obs" />
    <param name="EmpFile" type="string" value="$(find gnss_preprocessor)/dataset/smartLoc/Berlin_Gendarmenmarkt/BRDC00WRD_U_20161580000_01D_MN.rnx" />
<!--
    <param name="GLONASSEmpFile" type="string" value="$(find gnss_preprocessor)/dataset/smartLoc/Berlin_Gendarmenmarkt/brdc1580.16g" />
    <param name="GPSEmpFile" type="string" value="$(find gnss_preprocessor)/dataset/smartLoc/Berlin_Gendarmenmarkt/brdc1580.16n" />
-->
    <param name="SP3File" type="string" value="$(find gnss_preprocessor)/dataset/smartLoc/Berlin_Gendarmenmarkt/gbm19001.sp3" />
    <param name="SBASFile" type="string" value="$(find gnss_preprocessor)/dataset/smartLoc/Berlin_Gendarmenmarkt/REDU00BEL_R_20161580000_01D_SN.rnx" />
    <param name="ionexFile" type="string" value="$(find gnss_preprocessor)/dataset/smartLoc/Berlin_Gendarmenmarkt/casg1580.16i" />
    <param name="atxFile" type="string" value="$(find gnss_preprocessor)/dataset/Shared/igs14.atx" />

    <param name="out_folder"      type="string" value="$(find gnss_preprocessor)/dataset/smartLoc/Berlin_Gendarmenmarkt/rtklibResult.pos" />

    <node name="gnss_preprocessor_node" pkg="gnss_preprocessor" type="gnss_preprocessor_node" output="screen" />
    

    <!-- Static fake TF transform -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 map base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake_m2w" args="0 0 0 0 0 0 map world" />

    <!-- Rosbag recording -->
    <node pkg="rosbag" type="record" name="rosbag_Berlin_Gendarmenmarkt" args="record -O $(find gnss_preprocessor)/dataset/Processed/smartLoc_Berlin_Gendarmenmarkt_preprocessed.bag -a"/> 

</launch>
