<!-- Dataset HK_2 from UrbanNav project. -->
<launch>
    <!-- load dataset-specific params -->
    <rosparam command="load" file="$(find gnss_preprocessor)/config/hongkong_2021.yaml" />

    <!-- path of dataset -->
    <param name="roverMeasureFile" type="string" value="$(find gnss_preprocessor)/dataset/UrbanNav/HK_Medium/20210521.medium-urban.whampoa.ublox.f9p.obs" />
    <param name="EmpFile" type="string" value="$(find gnss_preprocessor)/dataset/UrbanNav/HK_Medium/BRDM00DLR_S_20211410000_01D_MN.rnx" />
    <param name="SP3File" type="string" value="$(find gnss_preprocessor)/dataset/UrbanNav/HK_Medium/IAC0MGXFIN_20211410000_01D_05M_ORB.SP3" />
    <param name="ionexFile" type="string" value="$(find gnss_preprocessor)/dataset/UrbanNav/HK_Medium/casg1410.21i" />
    <param name="atxFile" type="string" value="$(find gnss_preprocessor)/dataset/shared/igs14.atx" />

    <param name="out_folder"      type="string" value="$(find gnss_preprocessor)/dataset/UrbanNav/HK_Medium/rtklibResult.pos" />

    <node name="gnss_preprocessor_node" pkg="gnss_preprocessor" type="gnss_preprocessor_node" output="screen" />
    

    <!-- Static fake TF transform -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 map base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake_m2w" args="0 0 0 0 0 0 map world" />

    <!-- Rosbag recording -->
    <node pkg="rosbag" type="record" name="rosbag_HK_2" args="record -O $(find gnss_preprocessor)/dataset/processed/UrbanNav_HK_Medium_preprocessed.bag -a"/> 

</launch>
