<!-- Dataset Frankfurt Westend Tower from TU Chemnitz smartLoc project. -->
<launch>
    <!-- path to the datasets-->
    <arg name="data_path" value="$(find gnss_preprocessor)/dataset/UrbanNav/HK_1" />
    
    <!-- load dataset-specific params -->
    <rosparam command="load" file="$(find gnss_preprocessor)/config/UrbanNav_HK.yaml" />

    <!-- path of dataset -->
    <param name="roverMeasureFile" type="string" value="$(arg data_path)/COM3_190428_124409.obs" />
    <param name="GPSEmpFile" type="string" value="$(arg data_path)/hksc1180.19n" />
    <param name="BeiDouEmpFile" type="string" value="$(arg data_path)/hksc1180.19b" />
    <param name="SP3file" type="string" value="$(arg data_path)/igs20510.sp3" />
    <param name="ionexFile" type="string" value="$(arg data_path)/igsg1180.19i" />

    <param name="out_folder"      type="string" value="$(arg data_path)/rtklibResult.pos" />

    <node name="gnss_preprocessor_node" pkg="gnss_preprocessor" type="gnss_preprocessor_node" output="screen" />

    <!-- Static fake TF transform -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 map base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake_m2w" args="0 0 0 0 0 0 map world" />

    <!-- Rosbag recording -->
    <node pkg="rosbag" type="record" name="rosbag_UrbanNav_HK_1" args="record -O $(arg data_path)/UrbanNav_HK_1_preprocessed.bag -a"/> 

</launch>
