<!-- Dataset TK_Shinjuku from UrbanNav project. -->
<launch>
    <!-- load dataset-specific params -->
    <rosparam command="load" file="$(find global_fusion)/config/tokyo.yaml" />

    <!-- path of dataset -->
    <param name="roverMeasureFile" type="string" value="$(find global_fusion)/dataset/UrbanNav/TK_Shinjuku/rover_ublox.obs" />
    <param name="BeiDouEmpFile" type="string" value="$(find global_fusion)/dataset/UrbanNav/TK_Shinjuku/HKSL00HKG_R_20183530000_01D_CN.rnx" />
    <param name="QZSSEmpFile" type="string" value="$(find global_fusion)/dataset/UrbanNav/TK_Odaiba/JFNG00CHN_R_20183530000_01D_JN.rnx" />
    <param name="GPSEmpFile" type="string" value="$(find global_fusion)/dataset/UrbanNav/TK_Shinjuku/hksl3530.18n" />
    <param name="SP3file" type="string" value="$(find global_fusion)/dataset/UrbanNav/TK_Shinjuku/igs20323.sp3" />
    <param name="ionexFile" type="string" value="$(find global_fusion)/dataset/UrbanNav/TK_Shinjuku/igsg3530.18i" />

    <param name="out_folder"      type="string" value="$(find global_fusion)/dataset/UrbanNav/TK_Shinjuku/rtklibResult.pos" />

    <node name="gnss_preprocessor_node" pkg="global_fusion" type="gnss_preprocessor_node" output="screen" />
    

    <!-- Static fake TF transform -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 map base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake_m2w" args="0 0 0 0 0 0 map world" />

    <!-- Rosbag recording -->
    <node pkg="rosbag" type="record" name="rosbag_TK_Shinjuku" args="record -O $(find global_fusion)/dataset/UrbanNav/TK_Shinjuku/TK_Shinjuku_preprocessed.bag -a"/> 

</launch>
